/**
 * @name Creamy Day 
 * @description Nothing just a creamy day!!!
 * @author Vivek_Rajan
 * @version 1
 */

.theme-dark { 

  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);

  /*  Text Color  */
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --interactive-normal: #4c505e;
  --interactive-hover: #404350;
  --interactive-active: #373a44;
  --interactive-muted: #77797c;

  /* Background Color */
  --background-primary: #ece8d1;
  --background-secondary: #ece8d1;
  --background-secondary-alt: #ece8d1;
  --background-tertiary: #ece8d1;
  --background-tertiary-alt: var(--background-secondary-alt);
  --background-accent: #d1ba38;
  --background-floating: #c2c2c9;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --background-mentioned: #252836;
  --border-mentioned: #a9afcf;
  --background-mentioned-hover: #cfd2e9;
  --accent-color: #34548a;

  /* Folder Color */
  --folder-color: #ad9a2b;
  --folder-color-light: #2f3342d0;

  /* Scrollbars Color */
  --scrollbar-thin-thumb: #cbc3e3;
  --scrollbar-thin-track: #transparent;
  --scrollbar-auto-thumb: #cbc3e3;
  --scrollbar-auto-thumb-hover: #cfb319;
  --scrollba-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);

  /* Chat Box Color */
  --channeltextarea-background: var(--background-secondary);
  --channeltextarea-background-hover: var(--background-tertiary);

	/* Square avatar addons */
	--avatar-roundess: 5px;

  /* Mac Titlebar addons */
  --close-button-color: #e92a2ade;
  --maximize-button-color: #f7bc1bde;
  --minimize-button-color: #12db33de;
}