/**
 * @name Orange-Hyprland 
 * @description A Theme made for Hyprland !!!
 * @author Vivek_Rajan
 * @version 1.0.0
 */

  /* For Better Look */
  @import url("https://nyri4.github.io/Discolored/main.css");

.theme-dark { 

  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);

  /*  Text-Color  */
  --text-normal: #ffffff;
  --text-muted: #f8f8ff;
  --interactive-normal: #ffffff;
  --interactive-hover: #f3e5ab;
  --interactive-active: #90ee90;
  --interactive-muted: #ffffff;

  /* Background-Color */
  --background-primary: #bf5700;
  --background-secondary: #bf5700;
  --background-secondary-alt: #bf5700;
  --background-tertiary: #bf5700;
  --background-tertiary-alt: var(--background-secondary-alt);
  --background-accent: #d1ba38;
  --background-floating: #c2c2c9;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --background-mentioned: #252836;
  --border-mentioned: #a9afcf;
  --background-mentioned-hover: #cfd2e9;
  --accent-color: #34548a;

  /* Folder-Color */
  --folder-color: #ad9a2b;
  --folder-color-light: #2f3342d0;

  /* Scrollbars-Color */
  --scrollbar-thin-thumb: #ff5f1f;
  --scrollbar-thin-track: #transparent;
  --scrollbar-auto-thumb: #ff5f1f;
  --scrollbar-auto-thumb-hover: #cfb319;
  --scrollba-auto-track: #transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);

  /* Chat Box Color */
  --channeltextarea-background: var(--background-secondary);
  --channeltextarea-background-hover: var(--background-tertiary);
