/**
 * @name Stylish Transparent 
 * @description Transparent Blue Theme!!!
 * @author Vivek_Rajan
 * @version 1.0.0
 */

  /* For Better Look */
  @import url("https://nyri4.github.io/Discolored/main.css");

.theme-dark { 

  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);

  /*  Text-Color  */
  --text-normal: #ffffff;
  --text-muted: #edfcfc;
  --interactive-normal: #f5f5dc;
  --interactive-hover: #8651bb;
  --interactive-active: #f0ead6;
  --interactive-muted: #f8f8ff;

  /* Background-Color */
  --background-primary: rgba(30, 30, 46, .70);
  --background-secondary: rgba(30, 30, 46, .70);
  --background-secondary-alt: rgba(30, 30, 46, .70);
  --background-tertiary: rgba(30, 30, 46, .70);
  --background-tertiary-alt: var(--background-secondary-alt);
  --background-accent: #911d4e;
  --background-floating: #572c82;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --background-mentioned: #23192e;
  --border-mentioned: #4e2f6e;
  --background-mentioned-hover: #6e273f;
  --accent-color: #911d43;

  /* Folder-Color */
  --folder-color: #62269e;
  --folder-color-light: #62269ed0;

  /* Scrollbars-Color */
  --scrollbar-thin-thumb: #8651bb;
  --scrollbar-thin-track: #transparent;
  --scrollbar-auto-thumb: #8651bb;
  --scrollbar-auto-thumb-hover: #1c0c2b;
  --scrollba-auto-track: #transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);

  /* Chat Box Color */
  --channeltextarea-background: var(--background-secondary);
  --channeltextarea-background-hover: var(--background-tertiary);
